<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="NewsDb" 
         providerName="System.Data.SqlClient" 
         connectionString="data source=(LocalDB)\MSSQLLocalDB; initial catalog=NewsDb; integrated security=SSPI"/>
  </connectionStrings>
</configuration>