<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="MagazineContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=MagazineSubscriptions.DataAccess.MagazineContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="IsAdmin" value="true"/>
  </appSettings>
</configuration>